<!DOCTYPE html>
<html lang="en" ng-app="myweatherapp">

<head>
	<meta charset="UTF-8">
	<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>My Weather Cloud - Main Page</title>

	<!--CSS-->
	<link rel="stylesheet" href="css/materialize.css">
	<link rel="stylesheet" href="css/custombox.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/sweetalert.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css" />
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="assets/sun.png" />

	<!--jQuery framework load-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/frameworks/jQuery/jquery.Jcrop.min.js"></script>
	<script src="js/frameworks/jQuery/jquery-cookie/jquery.cookie.js" type="text/javascript" xml:space="preserve"></script>

	<!--Angular framework load-->
	<script src="js/frameworks/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/frameworks/angular/i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/frameworks/angular/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/frameworks/angular/ngAutocomplete.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/frameworks/angular/ng-jcrop.js" type="text/javascript" xml:space="preserve"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script src="js/frameworks/angular/angular.dcb-img-fallback.js" type="text/javascript" xml:space="preserve"></script>

	<!--Materialize framework load-->
	<script src="js/frameworks/materialize/materialize.js"></script>

	<!--Custom Box framework load-->
	<script src="js/frameworks/custombox/custombox.js"></script>
	<script src="js/frameworks/custombox/legacy.js"></script>

	<!--Sweet Alert framework load-->
	<script src="js/frameworks/sweetAlert/sweetalert.min.js"></script>
	<script src="js/control/sweetalertFunctions.js"></script>

	<!--Own Code-->
	<script src="js/model/userObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/model/newObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/model/photoObj.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/control/generalFunctions.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/control/index.js"></script>
	<script src="js/control/custombox.js"></script>
</head>

<body ng-controller="sessionController as sessionCtrl" ng-init="sessionCtrl.sessionControl(); sessionCtrl.searchProfiles()">
	<div style="background-color: #80cbc4;">

		<!-- ************************************************************** MAIN MENU **************************************************************************-->

		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="index.html">Main menu</a></li>
			<li ng-if="toLogIn==false"><a href="html/weatherst.html">My weather station</a></li>
			<li class="divider"></li>
			<li><a href="html/meteocalc.html">Meteorological calculator</a></li>
		</ul>

		<nav class="blue-grey darken-1">
			<div class="nav-wrapper">
				<a href="index.html" class="brand-logo"><img class="logo-sun" src="assets/sun.png"><span class="title-logo">My Weather Cloud</span></a>

				<!-- Normal navbar-->
				<ul class="right hide-on-med-and-down">
					<form ng-if="myProfile" class="to-navbar">
						<div class="input-field">

							<div class="row search-bar">
								<div class="col s12 m5">
									<div class="card-panel blue-grey darken-1 navbar-style">
										<input class=" blue-grey darken-1" id="search" type="search" placeholder="Search users" ng-model="searchText" required />
										<table id="searchTextResults" ng-show="searchText != null ">
											<tr>
												<th>Name</th>
												<th>Surname</th>
												<th>View profile</th>
											</tr>
											<tr ng-repeat="user in usersArrayProfile | filter:searchText">
												<td>{{user.name}}</td>
												<td>{{user.surname}}</td>
												<td>
													<a href="html/viewprofiles.html?id={{user.user_id}}">
														<div class="chip" style="background-color: transparent;"><img fallback-src="assets/user.png" ng-src="{{user.avatar_path}}"></div>
													</a>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>

						</div>
					</form>
					<li ng-if="myProfile"><a href="html/profile.html">Profile &nbsp;<div class="chip"><img fallback-src="assets/user.png" ng-src="{{userAvatarPath}}">{{userNameAux}}</div></a></li>
					<li ng-if="toLogIn" id="loginClicked"><a href="">Log in</a></li>
					<li ng-if="toLogIn" id="registerClicked"><a href="">Sign up</a></li>

					<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Other options<i class="material-icons right">arrow_drop_down</i></a></li>
					<li ng-if="myProfile" id="logoutClicked" ng-click="sessionCtrl.connectionDestroy()"><a href="">Logout</a></li>
				</ul>

				<!-- Mobile navbar-->
				<ul id="slide-out" class="side-nav">
					<li ng-if="myProfile"><a href="html/profile.html">Profile &nbsp;<div class="chip"><img fallback-src="assets/user.png" ng-src="{{userAvatarPath}}">{{userNameAux}}</div></a></li>
					<li ng-if="toLogIn" id="loginClickedMobile"><a href="">Log in</a></li>
					<li ng-if="toLogIn" id="registerClickedMobile"><a href="">Sign up</a></li>
					<form ng-if="myProfile" class="to-navbar">
						<div class="input-field">
							<i class="material-icons">close</i>
						</div>
					</form>
					<li class="no-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Other options<i class="mdi-navigation-arrow-drop-down"></i></a>
								<div class="collapsible-body">
									<ul>
										<li><a href="index.html">Main menu</a></li>
										<li ng-if="toLogIn==false"><a href="html/weatherst.html">My weather station</a></li>
										<li class="divider"></li>
										<li><a href="html/meteocalc.html">Meteorological calculator</a></li>
									</ul>
								</div>
							</li>
							<div ng-show="session == true">
								<input class=" blue-grey darken-1" id="search" type="search" placeholder="Search users" ng-model="searchText" required />
								<label for="search"><i class="material-icons search-icon-profile">search</i></label>
								<i class="material-icons search-icon-profile close-icon-profile">close</i>
								<table id="searchTextResults" ng-show="searchText != null ">
									<tr>
										<th>Name</th>
										<th>Surname</th>
										<th>View profile</th>
									</tr>
									<tr ng-repeat="user in usersArrayProfile | filter:searchText">
										<td>{{user.name}}</td>
										<td>{{user.surname}}</td>
										<td>
											<a href="html/viewprofiles.html?id={{user.user_id}}">
												<div class="chip" style="background-color: transparent;"><img fallback-src="assets/user.png" ng-src="{{user.avatar_path}}"></div>
											</a>
										</td>
									</tr>
								</table>
							</div>
							<li ng-if="myProfile" id="logoutClicked" ng-click="sessionCtrl.connectionDestroy()"><a href="">Logout</a></li>
						</ul>

					</li>
				</ul>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

			</div>
		</nav>

		<!-- ************************************************************** FINISH MAIN MENU **************************************************************************-->

		<!--Template for login-->
		<login-management></login-management>

		<!--Template for register-->
		<register-management></register-management>

		<div class="main-div-color">
		</div>

		<news-management ng-init="sessionCtrl.newsToShow()"></news-management>
		<div ng-if="toCreateNews == 1" class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
			<a class="btn-floating btn-large tooltipped red" data-position="top" data-delay="50" data-tooltip="Settings">
				<i class="material-icons">settings</i>
			</a>
			<ul>
				<li ng-click="sessionCtrl.modalToCreateNew()"><a id="toCreateNews" class="btn-floating tooltipped red" data-position="top" data-delay="50" data-tooltip="Create new"><i class="material-icons">note_add</i></a></li>
			</ul>
		</div>

		<!--FOOTER-->
		<footer class="page-footer blue-grey darken-1">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">My Weather Cloud</h5>
						<p class="grey-text text-lighten-4">The unified weather connection in the cloud.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="http://www.ies-provenzana.com">IES Provençana</a></li>
							<li><a class="grey-text text-lighten-3" href="http://www.meteo.cat">Meteocat</a></li>
							<li><a class="grey-text text-lighten-3" href="http://www.meteociel.fr">Météociel</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2016 All rights reserved
				</div>
			</div>
		</footer>
	</div>
</body>

</html>
